.vscode
bazel-bin
bazel-out
bazel-testlogs
bazel-SECDA-Sandbox
cmds
hardware_automation/generated
hardware_automation/acc_srcs
.venv
Exp_Suite/results
DSE_Explorer/generated

__pycache__
plan.md
design_exp.md
fixes.md
config_old.json
arch_descriptions

experiments/bfp*
experiments/vector_add_secda
experiments/vmul_exp
experiments/vadd_exp
experiments/aximm_testing
experiments/dma_exp
experiments/dummy_exp

hardware_automation/bitstreams